{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "unused-imports"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
	"plugin:prettier/recommended",
    "prettier"  
  ],
  "rules": {
    // Auto-remove unused imports and vars
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_"
      }
    ],

    // Optional: turn off TS’s own duplicate warning to avoid overlap
    "@typescript-eslint/no-unused-vars": "off"
  }
}